<a href="https://colab.research.google.com/github/codm12112/DWM-SIT-PRACTICAL/blob/main/DWM_EXP_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = {
    'ID' : [1, 2, 3, 4, 5, 6],
    'Name' : ['preet', 'devansh', 'Pavan', 'aryan', 'pratham', 'ayush'],
    'Age' : [21, 20, 20, 20, 20, 21],
    'State' : ['Maharastra', 'Maharastra', 'Maharastra', 'Maharashtra', 'Maharashtra', 'Maharastra'],
    'Sales' : [150000, 170000, 130000, 125000, 100000, 115000]
}

df = pd.DataFrame(data)
print("Original Dataset:")
print(df)

#character map
df['Name_Upper'] = df['Name'].str.upper()
print("\nCharacter Map (Uppercase Names):")
print(df[['ID', 'Name', 'Name_Upper']])

#Multicast : create 2 copies of the dataset
df_copy1 = df.copy()
df_copy2 = df.copy()

#transformations on each copy
df_copy1['Sales'] *= 1.1 #increase sales by 10%
df_copy2['Age'] += 5 #increase age by 5 years
print("\nMulticast (Modified Copies):")
print("Copy 1 (Sales Increased): ")
print(df_copy1)
print("\nCopy 2 (Age Increased): ")
print(df_copy2)

#conditional split: sales > 300
high_sales = df[df['Sales'] > 30000]
low_sales = df[df['Sales'] <= 30000]
print("\nConditional Split:")
print("High Sales")
print(high_sales)
print("\nLow Sales")
print(low_sales)

#aggregation: total sales by country
agg_df = df.groupby('State')['Sales'].sum().reset_index()
print("\nAggregation (Total Sales by State):")
print(agg_df)

#sort: sort by sales in descending order
sorted_df = df.sort_values(by='Sales', ascending=False)
print("\nSort (Descending Sales): ")
print(sorted_df)

#derived column: categorize sales as high or low
df['Sales_Category'] = df['Sales'].apply(lambda x: 'High' if x>30000 else 'Low')
print("\nDerived Column (Sales Category):")
print(df[['ID', 'Name', 'Sales', 'Sales_Category']])

Original Dataset:
   ID     Name  Age        State   Sales
0   1    preet   21   Maharastra  150000
1   2  devansh   20   Maharastra  170000
2   3    Pavan   20   Maharastra  130000
3   4    aryan   20  Maharashtra  125000
4   5  pratham   20  Maharashtra  100000
5   6    ayush   21   Maharastra  115000

Character Map (Uppercase Names):
   ID     Name Name_Upper
0   1    preet      PREET
1   2  devansh    DEVANSH
2   3    Pavan      PAVAN
3   4    aryan      ARYAN
4   5  pratham    PRATHAM
5   6    ayush      AYUSH

Multicast (Modified Copies):
Copy 1 (Sales Increased):
   ID     Name  Age        State     Sales Name_Upper
0   1    preet   21   Maharastra  165000.0      PREET
1   2  devansh   20   Maharastra  187000.0    DEVANSH
2   3    Pavan   20   Maharastra  143000.0      PAVAN
3   4    aryan   20  Maharashtra  137500.0      ARYAN
4   5  pratham   20  Maharashtra  110000.0    PRATHAM
5   6    ayush   21   Maharastra  126500.0      AYUSH

Copy 2 (Age Increased):
   ID     Name  Age        State   Sales Name_Upper
0   1    preet   26   Maharastra  150000      PREET
1   2  devansh   25   Maharastra  170000    DEVANSH
2   3    Pavan   25   Maharastra  130000      PAVAN
3   4    aryan   25  Maharashtra  125000      ARYAN
4   5  pratham   25  Maharashtra  100000    PRATHAM
5   6    ayush   26   Maharastra  115000      AYUSH

Conditional Split:
High Sales
   ID     Name  Age        State   Sales Name_Upper
0   1    preet   21   Maharastra  150000      PREET
1   2  devansh   20   Maharastra  170000    DEVANSH
2   3    Pavan   20   Maharastra  130000      PAVAN
3   4    aryan   20  Maharashtra  125000      ARYAN
4   5  pratham   20  Maharashtra  100000    PRATHAM
5   6    ayush   21   Maharastra  115000      AYUSH

Low Sales
Empty DataFrame
Columns: [ID, Name, Age, State, Sales, Name_Upper]
Index: []

Aggregation (Total Sales by State):
         State   Sales
0  Maharashtra  225000
1   Maharastra  565000

Sort (Descending Sales):
   ID     Name  Age        State   Sales Name_Upper
1   2  devansh   20   Maharastra  170000    DEVANSH
0   1    preet   21   Maharastra  150000      PREET
2   3    Pavan   20   Maharastra  130000      PAVAN
3   4    aryan   20  Maharashtra  125000      ARYAN
5   6    ayush   21   Maharastra  115000      AYUSH
4   5  pratham   20  Maharashtra  100000    PRATHAM

Derived Column (Sales Category):
   ID     Name   Sales Sales_Category
0   1    preet  150000           High
1   2  devansh  170000           High
2   3    Pavan  130000           High
3   4    aryan  125000           High
4   5  pratham  100000           High
5   6    ayush  115000           High